<div class='w-auto h-auto bg-white border-transparent' >
  <ul class='w-full text-gray-600'>
    <li class='flex items-center h-12 p-2 mb-2 space-x-2 rounded-md cursor-pointer justify-content hover:bg-gray-200'>
      <div>
        <p-avatar class='w-8 h-8 rounded-full' image="assets/showcase/images/demo/organization/walter.jpg" severity="danger" styleClass="p-mr-2" size="small"></p-avatar>
      </div>
      <div>
        <p class='text-sm font-semibold'>User Name</p>
      </div>
    </li>

    <li class='flex items-center h-12 p-2 mb-2 space-x-2 rounded-md cursor-pointer justify-content hover:bg-gray-200'>
      <img class='w-6 h-6 rounded-full'src='./../../assets/images/user-friends-solid.svg' alt='' >
      <div>
        <p class='text-sm font-semibold'>Friends</p>
      </div>
    </li>
    <li class='flex items-center h-12 p-2 mb-2 space-x-2 rounded-md cursor-pointer justify-content hover:bg-gray-200'>
      <img class='w-6 h-6 rounded-full' src='./../../assets/images/users-solid.svg' alt=''>
      <div>
        <p class='text-sm font-semibold'>Groups</p>
      </div>
    </li>
    <li class='flex items-center h-12 p-2 mb-2 space-x-2 rounded-md cursor-pointer justify-content hover:bg-gray-200'>
           <img class='w-6 h-6 rounded-full' src='./../../assets/images/store-solid.svg' alt=''>
      <div>
        <p class='text-sm font-semibold'>Marketplace</p>
      </div>
    </li>
    <li class='flex items-center h-12 p-2 mb-2 space-x-2 rounded-md cursor-pointer justify-content hover:bg-gray-200'>
      <img class='w-6 h-6 rounded-full' src='./../../assets/images/tv-solid.svg' alt='' >
      <div>
        <p class='text-sm font-semibold'>Watch</p>
      </div>
    </li>
  </ul>
</div>
