<div class='grid h-16 gap-4 ml-2 mr-2 bg-blue-700 grid-col-12'>
<div class="flex">
    <div class='flex justify-start py-4 ml-1 cols-span-4'>
  <i class="h-8 px-3 ml-4 mr-0 fa fa-facebook-f"></i>
  <input  placeholder='Search Facebook' class='h-8 px-3 ml-0 bg-gray-100 rounded-full w-60 focus:outline-none'/>
    </div>
<div class="flex h-6 gap-8 px-12 mt-6 ml-16 w-80 space-x-14">
  <!-- <i class='text-2xl fas fa-home'></i>
  <i class="fas fa-user-friends"></i>
  <i class="fas fa-tv"></i>
  <i class="fas fa-store"></i>
  <i class="fas fa-users"></i> -->
  <img src='./../../assets/images/home-solid.svg' alt=''>

  <img src='./../../assets/images/user-friends-solid.svg' alt='' >

  <img src='./../../assets/images/tv-solid.svg' alt='' >

  <img src='./../../assets/images/store-solid.svg' alt=''>

  <img src='./../../assets/images/users-solid.svg' alt=''>

  <div class=""></div>
</div>
</div>
<router-outlet></router-outlet>


